html, body {
	padding: 0;
	margin: 0;
}

.quote:before {
	content: '"';
}

.quote:after {
	content:'"'; 
}

.clearfix:after {
	content: 'clearfix huck';
	display: block;
	clear: both;
}

.align-rignt {
	float: right;
	padding-left: 500px;
}

.container {
	width: 1000px;
	padding: 20px;
	margin: 0 auto;
	background-color: #eee;
	}
/*
	.container:after {
		content: '';
		display: block;
		clear: both;
	}
*/
	/* content */

#content {
	height: 200px;
	width: 200px;
	background-color: orange;
	float: left;
	margin-right: 20px;
}

/*sidebar*/

#sidebar {
	height: 300px;
	width: 150px;
	background-color: green;
	float: right;
	margin-right: 20px;
	padding: 50px;
	color: white;
	}


	.icon-01,
	.icon-02,
	.icon-03 {
		background-color: #fff;
		background-image: url(sprite.png);
		background-repeat: no-repeat;
		background-position: 0 0;
		height: 77px;
		width: 77px;
		float: left;
	}
	.ico + .ico {
		margin-left: 20px; 
	}
	.icon-02 {
		background-position: -77px 0;
	}
	.icon-03 {
		background-position: -154px 0;
	}
.icon-01:hover {
	background-position: 0 100%;
}
.icon-02:hover {
	background-position: -77px -154px;
}
.icon-03:hover {
	background-position: -154px -154px; 
	}
