/*header*/
body {
	background-color: rgb(241,241,243);
}
li {
	list-style-type: none; 
}
.nav {
	background: rgb(92,153,152); /* Цвет фона под заголовком */
	box-shadow: 0 5px 5px 10px rgb(228,226,227);
	padding: 2px; /* Поля вокруг текста */
	margin: 0;
	text-align: right;
}
.ul {
	display: inline;
	margin-right: 5px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
}
.a {
	color: white; /* Цвет текста */
	text-decoration: none;
}

.header {
	margin: 80px 100px;
}

.logo{
	margin: 30px 50px;

}

.contact {
	display: block;
	
}
.cont {
	text-decoration: none;
	display: block;
	text-align: right;

}
