body {
	background-color: rgb(249,246,234);
	padding: 0;
	margin: 0;
}
.nav {
	background: rgb(21,61,62);
	padding: 30px; /* Поля вокруг текста */
	margin: 0;
	text-align: right;
	background-repeat:no-repeat;
	background-position: 10%; 25px
}

.ul {
	display: inline;
	margin-right: 5px;
	padding: 3px;
	font-size: 20px;
	font-weight: bold;
}

.a {
	color: white; /* Цвет текста */
	text-decoration: none;
	display: inline;
}

.logo {
	float: left;
	margin: 20px;
	padding: 25px 150px;
}

/*main*/
#main {
	width: 80%;
	padding: 20px;
	margin: 0 auto;
	background-color: white;
}
