!!! 5
%html{lang:"en"}

  %head
    %meta{charset:"UTF-8"}
    %title MagBlog
    %link{rel:"shortcut icon", href:"img/favicon.ico", type:"image/x-icon"}
    %link{rel:"stylesheet", href:"https://fonts.googleapis.com/css?family=Droid+Sans"}
    %link{rel:"stylesheet", href:"css/vendor.min.css"}
    %link{rel:"stylesheet", href:"css/style.min.css"}

  %body

    .wrapper

      %a#back-to-top.fa.fa-arrow-up{href:"#", title:"Back to top"}

            -#  _____HEADER_____

      %header#header

            -#  _____MAIN_____

      %main

            -#  _____FOOTER_____

      %footer#footer

    %script{src:"https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"}
    %script{src:"scripts/script.min.js"}
